<div class="wrapper">
<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>Leagues</h1>

<table class="table table-bordered table-striped">
	<tr>
		<th>Name</th>
		<th>Manager</th>
		<th>Join</th>
	</tr>
	<%= render @leagues %>
</table>
  
  <ul class="pagination">
  <li class="disabled"><a href="#">&laquo;</a></li>
  <li class="active"><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li><a href="#">&raquo;</a></li>
</ul>

<p>Don't see a league you like? <%= link_to 'Create your own', new_league_path %>.</p>
</div>