<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>Leagues</h1>

<table class="table table-bordered table-striped">
	<tr>
		<th>Name</th>
		<th>Manager</th>
		<th>Type</th>
		<th>Join</th>
	</tr>
	<%= render @leagues %>
</table>

<p>Don't see a league you like? <%= link_to 'Create your own', new_league_path %>.</p>