<h1><%= @league.name %></h1>
<p>Manager: <%= @league.manager.email if @league.manager %></p>

<h2>Teams</h2>
<ul>
	<% @league.memberships.each do |member| %>
		<li><%= member.user.email %></li>
	<% end %>
</ul>

