<h1>New Predictions</h1>
<p>Predictions are just a parent model for children picks</p>

<%= simple_form_for @prediction do |f| %>
	<%= f.hidden_field :match_id %>
	<%= f.button :submit %>
<% end %>

<% # how to validate that a user can make predictions for a certain match? %>