<div class="row">
  <div class="col-xs-2">
    <%= f.text_field :position, class: 'form-control' %>
  </div>
  <div class="col-xs-10">  
    <%= f.text_field :athlete_name, class: 'form-control', data: {autocomplete_source: ajax_index_path} %>
  </div>
</div>  