<h1>Races</h1>
<table class="table table-bordered table-striped">
	<tr>
		<th>Name</th>
		<th>Start Date</th>
	</tr>
	<% @races.each do |race| %>
	<tr>
		<td><%= link_to race.name, race %></td>
		<td><%= race.startdate.strftime('%x')%></td>
	</tr>
	<% end %>
</table>

<% if current_user && current_user.admin? %>
<p><%= link_to 'New Race', new_race_path, class: 'btn btn-default' %></p>
<% end %>

<p>Races are for admins to enter results, and for league managers to select which matches will count in their leagues. The rest of the UI will revolve around Matches instead</p>