<h1>Races</h1>
<table class="table table-bordered table-striped">
	<tr>
		<th>Name</th>
		<th>Start Date</th>
	</tr>
	<% @races.each do |race| %>
	<tr>
		<td><%= link_to race.name, race %></td>
		<td><%= race.startdate.strftime('%x')%></td>
	</tr>
	<% end %>
</table>