<h1>Races</h1>
<table class="table table-bordered table-striped">
	<tr>
		<th>Name</th>
		<th>Start Date</th>
	</tr>
	<% @races.each do |race| %>
	<tr>
		<td><%= link_to race.name, race %></td>
		<td><%= race.startdate.strftime('%x')%></td>
	</tr>
	<% end %>
</table>

<p>Races are largely administrative. Admins will be able to see them to input results. League managers will see them to choose which races they will contend for in the league. The rest of the UI will revolve around showing Matches instead</p>