<h1><%= @race.name %></h1>

<% unless @race.results.blank? %>
	<h3>Results</h3>
	<table class="table table-striped table-bordered">
		<tr>
			<th>Pos</th>
			<th>Athlete</th>
		</tr>
		<% @race.results.each do |result| %>
			<tr>
				<td><%= result.position %></td>
				<td><%= link_to result.athlete.name, result.athlete %></td>
			</tr>
		<% end %>
	</table>
<% end %>

