<h1>Athletes</h1>

<div class="search-form">

<%= form_tag athletes_path, :method => 'get' do %>
	<%= text_field_tag 'search', params[:search], :placeholder => "e.g. #{@random_athlete.name}", :class => 'form-control input-lg' %>
<% end %>

</div>

<table class="table table-striped table-bordered">
	<tr>
		<th>Athlete Name</th>
	</tr>
	<%= render @athletes %>
</table>

<% if current_user && current_user.admin? %>
	<p><%= link_to 'New Athlete', new_athlete_path, class: 'btn btn-default' %></p>
<% end %>