<div class="jumbotron masthead">
  <div class="container">
    <h1>When .01 seconds seperate the best, can you predict the winner?</h1>
    <p>Fantasy Sliding is the <em>only</em> bobsled and skeleton fantasy sports league on the web, and it's free to play.</p>
    <p><a class="btn btn-default btn-lg" role="button">Play now <span class="glyphicon glyphicon-chevron-right"></span></a></p>
  </div>
</div>

<div class="container marketing">
  <div class="row">
    <div class="col-lg-4">
      <img class="img-circle" data-src="holder.js/125x125" alt="125x125" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNDAiIGhlaWdodD0iMTQwIj48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI2VlZSI+PC9yZWN0Pjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjcwIiB5PSI3MCIgc3R5bGU9ImZpbGw6I2FhYTtmb250LXdlaWdodDpib2xkO2ZvbnQtc2l6ZToxMnB4O2ZvbnQtZmFtaWx5OkFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmO2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjE0MHgxNDA8L3RleHQ+PC9zdmc+" style="width: 125px; height: 125px;">
      <h2>Custom leagues</h2>
      <p>Add only the races you want to predict. Or join one of our Official Leagues to get started.</p>
      <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="img-circle" data-src="holder.js/125x125" alt="125x125" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNDAiIGhlaWdodD0iMTQwIj48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI2VlZSI+PC9yZWN0Pjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjcwIiB5PSI3MCIgc3R5bGU9ImZpbGw6I2FhYTtmb250LXdlaWdodDpib2xkO2ZvbnQtc2l6ZToxMnB4O2ZvbnQtZmFtaWx5OkFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmO2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjE0MHgxNDA8L3RleHQ+PC9zdmc+" style="width: 125px; height: 125px;">
      <h2>Every race</h2>
      <p>We follow the Official FIBT calendar, including events from the World Cup down to America's Cup.</p>
      <p><a class="btn btn-default" href="#" role="button">View the calendar »</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="img-circle" data-src="holder.js/125x125" alt="125x125" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNDAiIGhlaWdodD0iMTQwIj48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI2VlZSI+PC9yZWN0Pjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjcwIiB5PSI3MCIgc3R5bGU9ImZpbGw6I2FhYTtmb250LXdlaWdodDpib2xkO2ZvbnQtc2l6ZToxMnB4O2ZvbnQtZmFtaWx5OkFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmO2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjE0MHgxNDA8L3RleHQ+PC9zdmc+" style="width: 125px; height: 125px;">
      <h2>Your favorite athletes</h2>
      <p>Fantasy sports are better with friends. Create a league and invite your friends by email. It's simple.</p>
      <p><%= link_to 'Start playing now', new_user_registration_path, class: 'btn btn-default' %></p>
    </div><!-- /.col-lg-4 -->
  </div>
</div><!-- end container -->

<hr class="featurette-divider">

<div class="container features">
<div class="row featurette">
        <div class="col-md-6">
          <h2 class="featurette-heading">Public and Private Leagues</h2>
          <p class="lead">Fantasy Sliding gives you the power to create your own league with your own races. Want just Intercontinental Cup? No problem. World Cup Women? Sure. It's up to you. Instead, join one of our Official Leagues.</p>
          <p>FantasySliding.com has created one of the best fantasy sports prediction engines on the web.</p>
          <ul>
            <li><span class="glyphicon glyphicon-ok"></span> Join an existing league or create your own</li>
            <li><span class="glyphicon glyphicon-ok"></span> Invite friends to play</li>
            <li><span class="glyphicon glyphicon-ok"></span> Make your league public or private</li>
            <li><span class="glyphicon glyphicon-ok"></span> Choose your own races and set your own rules</li>
          </ul>
          
  </div>
        <div class="col-md-6">
          <table class="table table-bordered table-striped">
            <tr>
              <th>Name</th>
              <th>Manager</th>
              <th>Type</th>
              <th>Join</th>
            </tr>
            <%= render @leagues %>
          </table>
        </div>
      </div>
</div>

<hr class="featurette-divider">

<div class="container">
<div class="row featurette">
  <div class="col-md-6">
    <table class="table table-bordered table-striped">
      <tr>
        <th>Name</th>
        <th>Start Date</th>
      </tr>
    <%= render @races %>
    </table>  
  </div>
  <div class="col-md-6">
    <h2 class="featurette-heading">Official FIBT Schedule</h2>
    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            <ul>
            <li><span class="glyphicon glyphicon-ok"></span> World Cup</li>
            <li><span class="glyphicon glyphicon-ok"></span> Intercontinental Cup</li>
            <li><span class="glyphicon glyphicon-ok"></span> Europa and America's Cup</li>
            <li><span class="glyphicon glyphicon-ok"></span> National and Domestic Races</li>
          </ul>
  </div>
</div>
</div>