<h1>League Invitations</h1>

<table class="table table-striped table-bordered">
	<tr>
		<th>Recipient</th>
		<th>Sent</th>
		<th>Status</th>
		<th>Actions</th>
	</tr>
	<% @invitations.each do |invitation| %>
	<tr>
		<td><%= invitation.recipient_email %></td>
		<td><%= invitation.sent_at %></td>
		<td><span class="text text-success">accepted</span></td>
		<td><a href="#">resend</a></td>
	</tr>
	<% end %>
</table>