<h1>League Invitations</h1>

<table class="table table-striped table-bordered">
	<tr>
		<th>Recipient</th>
		<th>Sent</th>
		<th>Status</th>
		<th>Actions</th>
	</tr>
	<%= render @invitations %>
</table>